<header>
    <div class="header_container">
        <div class="header_left">
            <div class="header_logo">
                <a href="/">HeaderLogo</a>
            </div>
            <div class="header_nav">
                <a href="/">Home</a>
                <a href="/products">Products</a>
                <a href="/about">About</a>
                <a href="/blog">Blog</a>
            </div>
        </div>
        <div class="header_user_actions header_right">
            <% if(user) { %>
                <p>Profile</p>

            <% } else { %>
                <a href="/signin" class="btn">
                    <div>Sign In</div>
                </a>
                <a href="signup" class="btn">
                    <div>Sign Up</div>
                </a>
            <% } %>

        </div>
    </div>
</header>