<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', {title: 'Sign In'}) %>
<body class="sign_page">
    <div class="page sign_form">
        <form 
        class="signin_form" 
        action="/api/signin" 
        method="POST"
    >
        <span>Account Login</span>
        <%- include('./partials/input.ejs', {type: 'email', placeholder: 'Enter your email', name: 'email'}) %>
        <%- include('./partials/input.ejs', {type: 'password', placeholder: 'Enter password', name: 'password'}) %>
        <%- include('./partials/button.ejs', {type: 'submit', title: 'Sign In'}) %>
    </form>
    </div>
</body>
</html>